body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #f3ebf3;
  width: 100%;
  display: flex;
  height: 125px;
  align-items: center;
  justify-content: space-around;
  nav {
    width: 35%;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  li {
    font-size: 25px;
  }
}

main {
  margin: 50px 0 100px 0;
}

footer {
  height: 100px;
  background-color: #f3ebf3;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#productDisplay {
  display: flex;
  justify-content: space-evenly;
  .card {
    flex-basis: 16%;
    box-shadow: 0px 0px 3px 4px #f1f1f1;
    height: 350px;
    border-radius: 20px;
  }
  img {
    border-radius: 20px;

    width: 100%;
    height: 128.61px;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #f3ebf3;
  border-radius: 25px;
  width: 125px;
  height: 40px;
  font-size: 15px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: black;
}

h5 {
  font-size: 20px;
}

#productDescription {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cardDescription {
    display: flex;
    width: 70%;
    margin-bottom: 40px;
    box-shadow: 0px 0px 3px 4px #f1f1f1;
    border-radius: 20px;
    .imageDescription {
      width: 350px;
      border-radius: 20px;
    }
    .bodyDescription {
      padding: 0 20px 0 10px;
    }
    select{
      margin-right: 50px;
    }
  }
}
