body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #f3ebf3;
  width: 100%;
  display: flex;
  height: 125px;
  align-items: center;
  justify-content: space-around;
  nav {
    width: 35%;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: black;
      font-size: 25px;
    }
  }
  li {
    font-size: 25px;
  }
}

#productDisplay {
  margin: 40px 20px 100px 20px;

  .card {
    box-shadow: 0px 0px 3px 4px #f1f1f1;
    border-radius: 20px;
    img {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    button {
      background-color: #f3ebf3;
      border-radius: 20px;
    }
  }
}

footer {
  height: 100px;
  background-color: #f3ebf3;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#productDescription {
  margin: 20px 70px 0 70px;
  box-shadow: 0px 0px 3px 4px #f1f1f1;
  border-radius: 20px;
  img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
